# ENV
.env
.env.local
.env.*.local
*.env

# ASSETS 
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.mp3
*.wav
*.m4a
*.mp4
frontend/public/images/*
!frontend/public/images/.gitkeep

# FRONTEND 
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/
frontend/coverage/
frontend/.pnp
.pnp.js

# BACKEND 
backend/vendor/
backend/main
Backend/main
Backend/vendor/
*.exe
*.dll
*.so
*.test

# ML SERVICE 
ml_service/__pycache__/
ml_service/venv/
ml_service/.venv/
ml_service/env/
*.pyc

# DATABASE 
postgres_data/
docker-compose.override.yml

# SYSTEM & LOGS
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
.idea/
.vscode/