# --- Envi Variables ---
.env
.env.local
*.env

# --- DB ---
postgres_data/

# --- BE ---
backend/vendor/
Backend/vendor/
main
Backend/main
*.exe
*.test

# --- FE---
frontend/node_modules/
frontend/dist/
frontend/.vite/

# --- Assets ---
*.jpg
*.mp3