@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;500;900&family=Yuji+Syuku&family=Shippori+Mincho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0a0a0a; 
    color: #e6e2d3;
    font-family: 'Noto Serif JP', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
  }
}

@layer utilities {
  .dust-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 50;
    background-image: url("https://www.transparenttextures.com/patterns/dust.png");
    opacity: 0.4;
    mix-blend-mode: overlay;
  }

  .writing-vertical-rl {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  
  .text-upright {
    text-orientation: upright;
  }

  .mask-ink-splash {
    -webkit-mask-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f7/Ink_splash.svg');
    mask-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f7/Ink_splash.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 0;
}